---
layout: default
---

<!-- <script type="text/javascript">
  window.location.href = "/home";
</script> -->

<!-- <p><em>Note: views expressed are solely my own and do not reflect the views or opinions of my employer</em></p> -->
<!-- <p><em>Note: views expressed do not necessarily reflect my own views either</em></p> -->


<!-- <div style="height: 60px; width: 100%;"></div>
<div id="sticky-footer" style="position: fixed; bottom: 0; left: 0; width: 100%; background-color: rgba(245, 245, 245, 0.95); box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1); z-index: 1000; padding: 15px 0; text-align: center;">
  <p style="margin: 0;">Your important message that stays at the bottom of the page while scrolling.</p>
  <span style="position: absolute; top: 10px; right: 10px; cursor: pointer; font-size: 18px; color: #666;" onclick="document.getElementById('sticky-footer').style.display='none';">×</span>
</div> -->

<img src="{{ site.baseurl }}/images/bmotion.png" style="width: 100%; text-align: center;"/>

<div class="posts">
  {% for post in paginator.posts %}
    <article class="post">
      <a href="{{ site.baseurl }}{{ post.url }}">
          <h1>{{ post.title }}</h1>

        <div>
          <p class="post_date">{{ post.date | date: "%B %e, %Y" }}</p>
        </div>
      </a>
      <div class="entry">
        {{ post.excerpt }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
  {% endfor %}

  {% if paginator.total_pages > 1 %}
  <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
    {% else %}
      <span>&laquo; Prev</span>
    {% endif %}

    {% for page in (1..paginator.total_pages) %}
      {% if page == paginator.page %}
        <span class="webjeda">{{ page }}</span>
      {% elsif page == 1 %}
        <a href="{{ '/' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
      {% else %}
        <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
      {% endif %}
    {% endfor %}

    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
    {% else %}
      <span>Next &raquo;</span>
    {% endif %}
  </div>
  {% endif %}
</div>
